.top-bar-alfa{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #408EBA;
  color: white;
  #name-logo{
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .panel-control{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    mat-icon{
      height: unset;
      width: unset;
      font-size: 22px;
    }
  }
  .user-menu{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  mat-icon{
    height: unset;
    width: unset;
    font-size: 22px;
  }
}

.active{
  display: flex;
}