<div class="create-user-header">
    <form 
        class="example-container" 
        style="display: flex; flex-direction: column" 
        [formGroup]="formCliente"
        method="POST"
        (ngSubmit)="createUser()">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input 
          matInput placeholder="pat@example.com" 
          formControlName="email" name="email" 
          required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input 
            matInput [type]="hide ? 'password' : 'text'" 
            formControlName="password" 
            name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter your Name</mat-label>
            <input 
            matInput type="text" 
            formControlName="name" 
            name="name">
          </mat-form-field>

          <button mat-raised-button type="submit">
            Add User
          </button>
    </form>
</div>


<button (click)="createUser()" >Create user</button>