.create-container{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    height: 100%;
    .logo{
        height: 100%;
        img{
            max-width: 100%;
            height: 100%;
        }
    }
    .create-user-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        .form-group-create-user{
            display: flex;
            flex-direction: column;
            padding: 15px;
            mat-form-field{
                .hide-password{
                    border: none;
                    cursor: pointer;
                    background: none;
                }

            }
            .submit-group{
                display: flex;
                justify-content: space-between;
                .submit-form{
                    cursor: pointer;
                    padding: 10px 20px;
                    border: none;
                    background-color: rgb(21, 247, 190);
                    color: white;
                    border-radius: 4px;
                    &:hover{
                        background-color: aqua;
                        transition: 1s;
                    }
                    &:disabled{
                        background-color: aquamarine;
                    }
                }
            }
            
        }
    }
}